body{
    margin: 0;
    padding: 0;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-img{
    max-height: 700px;
    width: 100%;
}
#profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 10%;
    max-width: 400px;
    aspect-ratio: 6/7;
}
#profile-img{
    max-height: 500px;
    aspect-ratio: 6/7;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 700px;
    padding: 60px;
    background: url(./abstract-g7dd2c453e_1920.png);
}
#description{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    background-color: white;
    aspect-ratio: 2/1;
    justify-content: flex-start;
    font-size: 30px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}
#description:hover{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);;
}
.card{
    max-width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 4px;
}
.card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  }
#icons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;
}
.icons-row{
    display: flex;
    gap: 5px;
}

.project-image{
    max-width: 300px;
    aspect-ratio: 1/1;
}
.row-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
#my-work{
    display: flex;
    justify-content: center;
    margin: 40px;
}
#projects-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    row-gap: 50px;
    column-gap: 30px;
}
.desc-p{
    margin-left: 10px;
    margin-right: 10px;
}

/* tablet responsivness */
@media screen and (max-width: 1350px) {
    #projects-container{
        grid-template-columns: repeat(3, 1fr);
    }
    #description{
        font-size: 22px;
        aspect-ratio: 6/4;
        height: 90%;
    }
    #profile-container{
        max-width: 300px;
        top: 20%;
    }
    #profile-img{
        max-height: 400px;
    }

}

/* mobile responsivness */
@media screen and (max-width: 1020px) {
    #projects-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
    #description{
        font-size: 18px;
        aspect-ratio: 6/5;
        height: 80%;
    }
    #profile-container{
        max-width: 300px;
        top: 27%;
    }
    #profile-img{
        max-height: 100%;
    }


}

@media screen and (max-width: 707px) {
    #projects-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;
    }
    #profile-container{
        flex-direction: column;
        max-height: 400px;
        top: 15%;
    }
    #profile-img{
        max-height: 250px;
        width: 300px;
    }
    #description{
        max-height: 180px;
        font-size: 12px;
    }
    .background-img{
        height: 100vh;
        width: 100vw;
    }
}
@media screen and (max-width: 300px) {
    #profile-img{
        max-height: 200px;
        width: 250px;
    }
    .card{
        max-width: 200px;
    }
    .project-image{
        max-width: 180px;
    }
    
}
#article-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 30px;
}